 .container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50px;
     /* border: 1px solid aqua; */
     height: 100vh;
     place-content: center;
     justify-items: center;
 }

 #left {
     border: 2px solid aqua;

     width: 80%;
     display: grid;
     place-items: center;
 }

 #right {
     border: 2px solid aqua;

     width: 80%;
     display: grid;
     place-items: center;
 }

 .list {

     font-size: 22px;
     line-height: 1rem;
     background-color: aqua;
     margin: 1rem auto;
     padding: 1rem 2rem;
 }

 h1 {
     text-align: center;
 }